# Ignore node modules
/node_modules/
/server/node_modules/

# Ignore everything in the .idea folder
.idea/*

# But keep project-level settings:
!.idea/codeStyles/
!.idea/inspectionProfiles/

# JetBrains IDE-specific files
.idea/
*.iml
/.idea/inspectionProfiles/Project_Default.xml
