@import url('fonts.css');
@import url('variables.css');
@import url('utils.css');
@import url('navbar.css');

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

.main-header {
    text-align: var(--text-align-center);
    padding: var(--standard-padding);
}

.top-line, .section-line, .bottom-line {
    border: none;
    height: var(--line-height);
    background-color: var(--text-color);
    margin: var(--standard-margin) 0;
}