:root {
    /* Main styles */
    --color-text: #333; /* Text color */
    --color-active: #000; /* Active link color */
    --color-background: #fff; /* Background color */
    --color-link-hover: #666; /* Link hover color */

    /* Font sizes */
    --font-size-nav: 1rem; /* Navigation font size */
    --font-size-logo: 3rem; /* Logo font size */

    /* Spacing */
    --spacing-nav: 1rem; /* Navigation items spacing */
    --spacing-page: 2rem; /* Page top and bottom spacing */

    /* Borders and lines */
    --border-nav-active-height: 2px; /* Active link border height */
    --border-radius: 8px; /* Border radius for elements */

    /* Transition */
    --transition-fast: all 0.3s ease-in-out; /* Quick transition for interactions */

    --logo-font-weight: 900;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.header {
    background: var(--color-background);
    padding: var(--spacing-page) 0;
}

.main-nav {
    text-align: center;
}

.main-nav .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav .nav-list li {
    margin: 0 var(--spacing-nav);
}

.main-nav .nav-list li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--font-size-nav);
    position: relative;
    padding-bottom: 5px;
}

.main-nav .nav-list li a.active,
.main-nav .nav-list li a:hover {
    color: var(--color-active);
}

.main-nav .nav-list li a.active::after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: 6px; /* Adjust this value to move the line closer or further away */
    transform: translateX(-50%);
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #000; /* Color of the underline */
    transition: all 0.3s ease-in-out;
}

.main-nav .nav-list li a:not(.active)::after {
    background-color: transparent;
}

.main-nav .nav-list li.logo a {
    font-size: var(--font-size-logo);

    /* Use of the new CSS Variable */
    font-weight: var(--logo-font-weight);
}

/* Adjustments for active link underline */
.main-nav .nav-list li a::after {
    height: 2px; /* Adjust the thickness of the line here */
    border: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-nav .nav-list {
        flex-direction: column;
    }

    .main-nav .nav-list li a {
        padding: var(--spacing-nav) 0;
    }

    .main-nav .nav-list li a::after {
        width: 50px; /* Adjust the width of the line on mobile devices */
    }
}