:root {
    --input-style: 1px solid #ccc;
    --input-padding-margin: 10px 0;
    --message-font-size: 0.8em;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

form {
    width: 300px;
    padding: 16px;
    background-color: white;
    border: var(--input-style);
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    position: relative; /* Add this to position the error messages relative to the form */
}

form h3 {
    margin-top: 2em;
}

form p {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: var(--input-padding-margin);
    margin: var(--input-padding-margin);
    display: inline-block;
    border: var(--input-style);
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: var(--input-padding-margin);
    margin: var(--input-padding-margin);
    color: white;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000;
}

.agreement-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

label[for="agreement"] {
    font-size: var(--message-font-size);  /* adjust as needed */
}

.error-message {
    position: absolute;
    bottom: -30px; /* Adjust as needed */
    left: 0;
    width: 100%;
    color: red;
    font-size: var(--message-font-size); /* Adjust as needed */
}

.error-message::before {
    content: "⚠ "; /* Add a warning icon */
}

.success-message {
    color: green;
    font-size: var(--message-font-size); /* Adjust as needed */
}